APP_NAME=Tramplin API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tramplin
POSTGRES_USER=tramplin_user
POSTGRES_PASSWORD=tramplin_password

DATABASE_URL=postgresql+psycopg://tramplin_user:tramplin_password@localhost:5432/tramplin

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=14
JWT_ISSUER=tramplin-api

INITIAL_ADMIN_EMAIL=admin@tramplin.local
INITIAL_ADMIN_PASSWORD=ChangeMe123
INITIAL_ADMIN_DISPLAY_NAME=Platform Admin
